/* Fonts and colors */
body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora', serif;
    margin: 0;
  }
  
  
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  h2 {
    color: #A0A0A0;
    font-weight: normal;
  }
  
  a {
    text-decoration: none;
    color: #4352A1;
  }
  


  /* Custom design */
  .banner {
    background-image: url("https://source.unsplash.com/random/1000x500");
    background-size: cover;
    color: white;
    padding: 120px 0;
  }

  .banner h1 {
    font-size: 38px;
  }

  .banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
  }
  
  .container {
    width: 700px;
    margin: 50px auto;
  }
  .link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
  }
  .link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));
}
  
 .btn-header{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    padding: 15px 35px 15px 35px;
    border: 1px solid #0cc6de;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #0cc6de;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: hand;
    cursor: pointer;
 }

 .site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
  
  /* Media queries */
  @media(max-width: 900px) {
    .container {
      width: 700px;
    }
  }
  @media(max-width: 750px) {
    .container {
      width: 450px;
    }
  }
  @media(max-width: 500px) {
    .container {
      width: 350px;
    }
    .banner {
      padding: 50px 0;
    }
    .banner h1 {
      font-size: 30px;
    }
    .banner p {
      font-size: 20px;
    }
  }
  
  
  
  
  
  
  
  